@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #333;
  --vanilla: #D8C096;
  --background-start-rgb: 3, 3, 3;
  --background-end-rgb: 3, f, f;
}

body {
  background: var(--foreground-rgb);
}
.bg-vanilla {
  background: var(--vanilla);
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
